{% extends "auth_base.html" %}

{%block styles%}
    <title>Register Page</title>
{%endblock%}

{%block form%}
    <form class="login" autocomplete="off" id="form" method="POST" action="">{%csrf_token%}
        <div class="go-to">
            <a href="{%url 'main:login'%}" >
                Уже есть аккаунт?
            </a>
        </div>

        <div class="login__field">
            <i class="login__icon fa fa-user"></i>
            <input type="text" class="login__input" name="login" placeholder="Login" value="" autocomplete="off">
        </div>
        <div class="login__field">
            <i class="login__icon fa fa-lock"></i>
            <input type="password" class="login__input" name="password" placeholder="Password" value="" autocomplete="new-password">
        </div>
        <div class="login__field">
            <i class="login__icon fa fa-user"></i>
            <select style="border: 1px solid white;border-bottom: 2px solid #5f57a3;" class="login__input" name="role" placeholder="Role">
                {%for role in roles%}
                    <option value="{{role.name}}">{{role.ru_name}}</option>             
                {%endfor%}
            </select>
        </div>
        <div class="login__field">
            <i class="login__icon fa fa-user"></i>
            <input type="text" class="login__input" name="fullname" placeholder="ФИО" value="" autocomplete="off">
        </div>
        <div class="login__field">
            <i class="login__icon fa fa-user"></i>
            <input type="number" class="login__input" name="age" placeholder="Возраст" value="" autocomplete="off">
        </div>
        <button class="button login__submit">
            <span class="button__text">Регистрация</span>
            <i class="button__icon fa fa-chevron-right"></i>
        </button>	
    </form>
{%endblock%}